body{
    margin: 0px;

    background-color: rgb(0, 0, 0);
}
nav{
    display: flex;
    background-color: aliceblue;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    
    display: flex;
    cursor: pointer;
}
.butt a{
    margin: 15px;
    padding: 10px 34px;
    text-decoration: none;
    color: #535353;
    font-weight: bold;
    font-size: 23px;
    
}
.butt a:hover{
    color: rgba(0, 225, 255, 0.363);
}
button{
    margin-right: 20px;
    background-color: #000;
    color: aliceblue;
    border-radius: 10px;
    font-size: 23px;
    cursor: pointer;
    box-shadow: 0 0px 10px rgb(0, 0, 0);
}
button:hover{
    color: rgba(0, 225, 255, 0.363);
    scale: 1.1;
   text-shadow: 0 10xp 20px red;
}
.text{
    color: #ffffff;
    text-align: center;
    padding-top: 160px;
}
.text h1{
    font-size: 120px;
    margin: -2%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer{
    text-align: center;
    padding: 3px;
    height: 70px;
    color: white;
    margin-top: 225px;
    border-radius: 20px 20px 0px 0px;
    background-color: #3E4150
  }

