body{
    background-color: #000000;
   margin: 0px;
   box-sizing: border-box;
}

nav{
    background-color: rgb(247, 247, 247);
    height: 50PX;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    margin-top: 0px;
} 
.logo{
    display: flex;
    padding-right: 90px;
    margin-top: 0px;
    cursor: pointer;
}
a{
    color: #000;
    padding: 5px 40px;
    text-decoration: none;
    border-radius: 15px;
    font-size: 18px;
    font-family: 'Rboto', sans-serif;
}
a:hover{
    color: rgb(37, 190, 236);
}
button{
    color: beige;
    background-color: #000;
    border: none;
    border-radius: 10px;
    padding: 3px 16px;
    font-size: 15px;
    font-family: 'Rboto', sans-serif;
    cursor:pointer;
}
button:hover{
    background-color: rgb(160, 121, 121);
}
.text{
    color: #ffffff;
    text-align: center;
    padding-top: 160px;
}
.text h1{
    font-size: 120px;
    margin: 0px;
     font-family:Verdana, Geneva, Tahoma, sans-serif; 
   
    
}
footer{
    background-color: #3E4150;
    color: #b8b6b6;
    height: 70px;
    border-radius: 20;
    margin-top:  300px;
}
.info {
     padding-right: 600px; 
    display: flex;
    padding: 0px 20px;
    justify-content:space-evenly;
    
    
    }
